<div ng-app="app">
    <div ng-controller="VendingMachineController">
        <div class="container">

            
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="drink-can">
                            <h4><span class="label label-default pull-left">Drink</span></h4>
                            <h4><span class="label label-default pull-right">Price</span></h4>
                        </div>
                        <a href="#" class="list-group-item" ng-repeat="can in drinkCans" ng-click="selectDrink(can.flavour)">
                            <div class="drink-can">
                                <span class="pull-left">{{::flavours[can.flavour]}} ({{::can.count}})</span>
                                <span class="pull-right">{{::can.price  | currency: "$" : 2 }}</span>
                            </div>
                        </a>
                        <a href="#" ng-click="maintenance()" data-toggle="modal" data-target="#myModal">
                            <h3>Admin</h3>
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <div ng-if="transaction.selectedFlavour">
                        <p><h3>Amount {{transaction.selectedFlavour.price | currency: "$" : 2 }}</h3></p>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-1">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#cash">Cash</a></li>
                        <li><a data-toggle="tab" href="#creditcard">Credit Card</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="cash" class="tab-pane fade in active">
                            <h4>Please insert coins</h4>
                            <div class="btn-group btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCash(1.0)">1 Dollar</button>
                                <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCash(0.50)">50 Cents</button>
                                <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCash(0.20)">20 Cents</button>
                                <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCash(0.10)">10 Cents</button>
                                <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCash(0.05)">5 Cents</button>
                            </div>
                            <hr />
                            <p> Total: {{transaction.payment.amount | currency: "$" : 2}}</p>
                            <p> Change: {{transaction.change | currency: "$" : 2}}</p>
                        </div>
                        <div id="creditcard" class="tab-pane fade">
                            <h4>Please scan your credit card </h4>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <span class="glyphicon glyphicon-credit-card"></span>
                                </div>
                            </div>
                            <hr />
                            <button type="button" class="btn btn-default" ng-disabled="!transaction" ng-click="payCreditCard()">Scan</button>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Admin</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Drinks</div>
                                        <div class="panel-body">
                                            <p>Sold: {{stock.drinks.sold}}</p>
                                            <p>Unsold: {{stock.drinks.unsold}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">Payments</div>
                                        <div class="panel-body">
                                            <p>Cash: {{stock.payments.cash  | currency: "$" : 2 }}</p>
                                            <p>Credit Card: {{stock.payments.creditCard  | currency: "$" : 2 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="restock()">Restock</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div ng-view>
    </div>

</div>
